# This file contains secret information and is not committed.
# You can however see this example version of it.

# IP address which exposes tcp:ssh
server_admin_ip: 1.2.3.4

# IP addresses from which tcp:ssh will be accessible
server_admin_gateways:
  - your.vpn.com

# Email address to send letsencrypt mails to
monitoring_email_address: minecraft@example.com

# Map seeds
spigot_level_seed: aB4BctmBDa4BmFXryx9
spigot_seed_village: 12341234
spigot_seed_desert: 12341234
spigot_seed_igloo: 12341234
spigot_seed_jungle: 12341234
spigot_seed_swamp: 12341234
spigot_seed_monument: 12341234
spigot_seed_shipwreck: 12341234
spigot_seed_ocean: 12341234
spigot_seed_slime: 12341234

# Operators for spigot
spigot_ops:
  - name: example
    # You can find the uuid of players in the logs
    uuid: player-uuid-here
    level: 4
    bypassesPlayerLimit: true

# Managed via ops.json
permissions_yml_config_users: {}
